<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div class="body">
		<dl class="author" >
			<dt>本周推荐</dt>
			<dd ng-repeat="author in datas[0].authors">
				<div class="avatar">
					<img src="{{author.avatar}}" alt="">
				</div>
				<div class="info">
					<h5>{{author.name}}</h5>
					<p>{{author.editor_notes}}</p>
				</div>
			</dd>
			<dt>全部作者</dt>
			<dd ng-repeat="author in datas[1].authors">
				<div class="avatar">
					<img src="{{author.avatar}}" alt="">
				</div>
				<div class="info">
					<h5>{{author.name}}</h5>
					<p>{{author.editor_notes}}</p>
				</div>
			</dd>
		</dl>
	</div>
</body>
</html>